*{
    padding:0;
    margin:0;
    outline:none;  
    color:white;
    font-family:sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease; 
}
body{
    background-color: #141414;
    /* overflow-x:scroll; */
}
body::-webkit-scrollbar {
    /* position:relative; */
    display: none;
}
.content{
    position:absolute;
    top:25rem;
    width:100%;
}

@media only screen and (max-width: 550px) {
    .content{
        top:13rem;
    }
}
@media only screen and (min-width:550px)and (max-width: 960px) {
    .content{
        top:20rem;
    }
}